.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 36px;
  }

.bg-light {
    background-color: #04294e!important;
    color: white;
}

.description {
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: #04294e;
}

.fa-save {
    font-size: 20px;
    justify-content: center;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}

.time {
    text-align: center;
}